body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;;
  text-align: center;
}

ul.nav-links {
  list-style-type: none;
}

ul.nav-links li {
  padding-top: 10px;
}

ul.nav-links li a {
  font-size: 18px;
}

img {
  display: block;
  max-width: 100%;
  margin:auto;
}

#header, #info h2 {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

#header h1 {
  font-size: 70px;
}

/*#process {
  color: #000;
}*/

#process h2 {
  font-size: 32px;
}

#process p, #info p {
  font-size: 14px;
}

#process h3, #info h2, #info h3 {
  font-size: 23px;
}

#footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

ul.nav-links li a, #header h1, #info h2, #footer, #footer a {
  color: #fff;
}

#header h1, #process h2, #process h3, #info h2, #info h3 {
  font-weight: bold;
}
